<template>
    <div class="container" ref="estatesList">
        Main page !
    </div>
</template>

<script>
import title from '../../mixins/title.mix';

export default {
    mixins: [title],
    computed: {
        title() {
            return process.env.MIX_APP_NAME;
        }
    }
}
</script>
