<template>
    <form-login></form-login>
</template>

<script>
import title from '../../mixins/title.mix';
import FormLogin from '../forms/login.vue';

export default {
    mixins: [title],
    components: {
        FormLogin
    },
    computed: {
        title() {
            return process.env.MIX_APP_NAME + ' - Login';
        }
    }
}
</script>
