<template>
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
</template>

<script>
import title from '../../mixins/title.mix';
import { mapMutations } from 'vuex';

export default {
    mixins: [title],
    data() {
        return {
            isLoading: true
        }
    },
    mounted() {
        this.logout();
    },
    computed: {
        title() {
            return process.env.MIX_APP_NAME + ' - Logout';
        }
    },
    methods: {
        ...mapMutations('user', ['deleteUser']),
        logout() {
            axios.post('/logout').then(() => {
                this.deleteUser();
                this.isLoading = false;
                this.$router.push('/');
            });
        }
    }
}
</script>
