<template>
    <div class="container">
        <div class="columns">
            <div class="column">
                <user-form></user-form>
            </div>
            <div class="column">
                <password-form></password-form>
            </div>
        </div>
    </div>
</template>

<script>
import title from '../../mixins/title.mix';
import UserForm from '../forms/user';
import PasswordForm from '../forms/password';

export default {
    mixins: [title],
    components: {
        UserForm,
        PasswordForm
    },
    computed: {
        title() {
            return process.env.MIX_APP_NAME + ' - My profil';
        }
    }
}
</script>
