<template>
    <form-register></form-register>
</template>

<script>
import title from '../../mixins/title.mix';
import FormRegister from '../forms/register.vue';

export default {
    mixins: [title],
    components: {
        FormRegister
    },
    computed: {
        title() {
            return process.env.MIX_APP_NAME + ' - Register';
        }
    }
}
</script>
