<template>
    <header>
        <div class="container is-fluid">
            <b-navbar>
                <template slot="brand">
                    <b-navbar-item>
                        <router-link :to="{ name: 'home' }">
                            <h1 class="is-size-1">{{ APP_NAME }}</h1>
                        </router-link>
                    </b-navbar-item>
                </template>


                <template slot="end">
                    <b-navbar-item v-if="isConnected">
                        <b-dropdown
                            dusk="menu"
                            append-to-body
                            trap-focus
                            aria-role="list"
                            v-if="isConnected"
                        >
                            <b-button type="is-primary" slot="trigger" slot-scope="{ active }">
                                <span>
                                    <b-icon icon="home" />
                                </span>
                                <b-icon :icon="active ? 'menu-up' : 'menu-down'"></b-icon>
                            </b-button>
                        </b-dropdown>
                        <b-dropdown append-to-body trap-focus aria-role="list">
                            <b-button dusk="user-dropdown" type="is-primary" slot="trigger" slot-scope="{ active }">
                                <span>
                                    <b-icon icon="account" />
                                </span>
                                <b-icon :icon="active ? 'menu-up' : 'menu-down'"></b-icon>
                            </b-button>

                            <b-dropdown-item aria-role="listitem">
                                <router-link :to="{name: 'profil'}">
                                    Profile
                                </router-link>
                            </b-dropdown-item>
                        </b-dropdown>
                    </b-navbar-item>

                    <b-navbar-item v-if="!isConnected">
                        <router-link dusk="login-button" :to="{name: 'login'}">Login</router-link>
                    </b-navbar-item>
                    <b-navbar-item v-if="!isConnected">
                        <router-link :to="{name: 'register'}">Register</router-link>
                    </b-navbar-item>
                    <b-navbar-item v-if="isConnected">
                        <router-link :to="{name: 'logout'}">Logout</router-link>
                    </b-navbar-item>
                </template>
            </b-navbar>
        </div>
    </header>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    computed: {
        APP_NAME() {
            return process.env.MIX_APP_NAME;
        },
        ...mapGetters('user', ['isConnected'])
    }
}
</script>
