<template>
    <form dusk="login-form" @submit.prevent="submit" v-if="!isConnected">
        <b-field
            label="Email"
            :type="{'is-danger': error('email')}"
            :message="error('email')"
        >
            <b-input type="email" name="email" v-model="form.email"></b-input>
        </b-field>
        <b-field
            label="Password"
            :type="{'is-danger': error('password')}"
            :message="error('password')"
        >
            <b-input type="password" name="password" v-model="form.password"></b-input>
        </b-field>
        <div class="buttons">
            <b-button
                native-type="submit"
                :loading="loading"
            >
                login
            </b-button>
        </div>
    </form>
</template>

<script>
import loading from '../../mixins/loading.mix';
import { mapGetters, mapMutations } from 'vuex';

export default {
    mixins: [loading],
    data() {
        return {
            form: {
                email: null,
                password: null,
                remember: false
            }
        }
    },
    computed: {
        ...mapGetters('user', ['isConnected']),
        ...mapGetters('form', ['error'])
    },
    methods: {
        ...mapMutations('user', ['setUser']),
        submit() {
            if (!this.isConnected) {
                this.startLoading();
                axios.get('/sanctum/csrf-cookie').then(() => {
                    // Login the user
                    axios.post("/login", this.form).then(response => {
                        axios.get('/api/user').then(response => {
                            this.stopLoading();
                            if (response.data.id) {
                                // Commit the user to the store
                                this.setUser(response.data);
                                this.$router.push('/');
                            }
                        })
                    }).catch(() => this.stopLoading());
                });
            }
        }
    }
}
</script>
