<template>
    <div class="card" dusk="password-form">
        <div class="card-header">
            <h2 class="card-header-title">Update your password</h2>
        </div>
        <div class="card-content">
            <b-message type="is-success" v-if="success">
                Password updated
            </b-message>
            <form class="password-form" @submit.prevent="submit">
                <b-field
                    label="Current password"
                    :type="{'is-danger': error('password')}"
                    :message="error('password')"
                >
                    <b-input type="password" name="password" v-model="form.password"></b-input>
                </b-field>
                <b-field
                    label="New password"
                    :type="{'is-danger': error('newPassword')}"
                    :message="error('newPassword')"
                >
                    <b-input type="password" name="newPassword" v-model="form.newPassword"></b-input>
                </b-field>
                <b-field
                    label="Confirm new password"
                    :type="{'is-danger': error('newPassword_confirmation')}"
                    :message="error('newPassword_confirmation')"
                >
                    <b-input type="password" name="newPassword_confirmation" v-model="form.newPassword_confirmation"></b-input>
                </b-field>
                <div class="buttons">
                    <b-button
                        native-type="submit"
                        :loading="loading"
                    >
                        Update password
                    </b-button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import loading from '../../mixins/loading.mix';
import { mapGetters, mapMutations } from 'vuex';

export default {
    mixins: [loading],
    data() {
        return {
            success: false,
            form: {
                password: null,
                newPassword: null,
                newPassword_confirmation: null
            }
        }
    },
    computed: {
        ...mapGetters('form', ['error'])
    },
    methods: {
        submit() {
            this.startLoading();
            axios.patch("/api/user/password", this.form).then(response => {
                this.stopLoading();
                this.success = true;
            }).catch(() => this.stopLoading());
        }
    }
}
</script>
