<template>
    <form dusk="register-form" @submit.prevent="submit" v-if="!isConnected">
        <b-field
            label="Name"
            :type="{'is-danger': error('name')}"
            :message="error('name')"
        >
            <b-input type="input" v-model="form.name"></b-input>
        </b-field>

        <b-field
            label="Email"
            :type="{'is-danger': error('email')}"
            :message="error('email')"
        >
            <b-input type="email" v-model="form.email"></b-input>
        </b-field>

        <b-field
            label="Password"
            :type="{'is-danger': error('password')}"
            :message="error('password')"
        >
            <b-input type="password" v-model="form.password"></b-input>
        </b-field>

        <b-field
            label="Confirm password"
            :type="{'is-danger': error('password_confirmation')}"
            :message="error('password_confirmation')"
        >
            <b-input type="password" v-model="form.password_confirmation"></b-input>
        </b-field>

        <div class="buttons">
            <b-button
                native-type="submit"
                :loading="loading"
            >
                Register
            </b-button>
        </div>
    </form>
</template>

<script>
import loading from '../../mixins/loading.mix';
import { mapGetters, mapMutations } from 'vuex';
export default {
    mixins: [loading],
    data() {
        return {
            form: {
                name: null,
                email: null,
                password: null,
                password_confirmation: null
            }
        }
    },
    computed: {
        ...mapGetters('user', ['isConnected']),
        ...mapGetters('form', ['error'])
    },
    methods: {
        submit() {
            this.startLoading();
            axios.post('/register', this.form).then((response) => {
                this.stopLoading();
                // Should do someting like connect the new user and make it ready to go !
            }).catch(() => this.stopLoading());
        }
    }
}
</script>

<style>

</style>
