<template>
    <div class="card" dusk="user-form">
        <div class="card-header">
            <h2 class="card-header-title">Update your profil</h2>
        </div>
        <div class="card-content">
            <b-message type="is-success" v-if="success">
                Profile updated
            </b-message>
            <form @submit.prevent="submit">
                <b-field
                    label="Name"
                    :type="{'is-danger': error('name')}"
                    :message="error('name')"
                >
                    <b-input type="input" name="name" v-model="form.name"></b-input>
                </b-field>

                <b-field
                    label="Email"
                    :type="{'is-danger': error('email')}"
                    :message="error('email')"
                >
                    <b-input type="email" name="email" v-model="form.email"></b-input>
                </b-field>

                <div class="buttons">
                    <b-button
                        native-type="submit"
                        :loading="loading"
                    >
                        Update
                    </b-button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import loading from '../../mixins/loading.mix';
import { mapGetters, mapMutations } from 'vuex';

export default {
    mixins: [loading],
    data() {
        return {
            success: false,
            form: {
                name: null,
                email: null
            }
        }
    },
    created() {
        this.form.name = this.user.name;
        this.form.email = this.user.email;
    },
    computed: {
        ...mapGetters('user', ['user']),
        ...mapGetters('form', ['error'])
    },
    methods: {
        ...mapMutations('user', ['setUser']),
        submit() {
            this.startLoading();
            axios.put('/api/user', this.form).then(response => {
                this.stopLoading();
                this.setUser(response.data);
                this.success = true;
            }).catch(() => this.stopLoading());
        }
    }
}
</script>
